USE [master]
GO
/****** Object:  Database [Northwind]    Script Date: 15.12.2017 17:28:30 ******/
CREATE DATABASE [Northwind]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Northwind', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Northwind.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Northwind_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Northwind_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Northwind].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Northwind]
GO
USE [Northwind]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](15) NOT NULL,
	[Description] [ntext] NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](40) NOT NULL,
	[CategoryID] [int] NULL,
	[QuantityPerUnit] [nvarchar](20) NULL,
	[UnitPrice] [money] NULL,
	[UnitsInStock] [smallint] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [QuantityPerUnit], [UnitPrice], [UnitsInStock]) VALUES (1, N'Chai', 1, N'10 boxes x 20 bags', 40.5000, 39)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [QuantityPerUnit], [UnitPrice], [UnitsInStock]) VALUES (2, N'Chang', 1, N'24 - 12 oz bottles', 42.7500, 17)
INSERT [dbo].[Products] ([ProductID], [ProductName], [CategoryID], [QuantityPerUnit], [UnitPrice], [UnitsInStock]) VALUES (3, N'Aniseed Syrup', 2, N'12 - 550 ml bottles', 15.0000, 13)
SET IDENTITY_INSERT [dbo].[Products] OFF
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_UnitPrice]  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_UnitsInStock]  DEFAULT ((0)) FOR [UnitsInStock]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [CK_Products_UnitPrice] CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_Products_UnitPrice]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [CK_UnitsInStock] CHECK  (([UnitsInStock]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_UnitsInStock]
GO
/****** Object:  StoredProcedure [dbo].[pr_Categories_Delete]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[pr_Categories_Delete]
(
	@CategoryID int
)as
IF not exists (Select * From Products Where CategoryID = @CategoryID)
Begin
Delete From Categories
Where CategoryID = @CategoryID
End

--------------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[pr_Categories_Insert]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[pr_Categories_Insert]
(
	@CategoryID int,
	@CategoryName nvarchar(15),
	@Description nvarchar(MAX),
	@Picture image = null,
	@PrimaryColumn nvarchar
)as
If(@Picture is not null)
Begin
Insert Into Categories
Values
(@CategoryName, @Description, @Picture)
End
Else
Begin
Insert Into Categories
(CategoryName, Description)
Values
(@CategoryName, @Description)
End

GO
/****** Object:  StoredProcedure [dbo].[pr_Categories_List]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[pr_Categories_List]
as
Select * From Categories

--------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[pr_Categories_Update]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[pr_Categories_Update]
(
	@CategoryID int,
	@CategoryName nvarchar(15),
	@Description nvarchar(MAX),
	@Picture image = null,
	@PrimaryColumn nvarchar
)as
If(@picture is not null)
Begin
Update Categories
Set CategoryName = @CategoryName,
	Description = @Description,
	Picture = @Picture
Where CategoryID = @CategoryID
End
Else
Begin
Update Categories
Set CategoryName = @CategoryName,
	Description = @Description
Where CategoryID = @CategoryID
End

GO
/****** Object:  StoredProcedure [dbo].[pr_Product_Search]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[pr_Product_Search]
(
	@CategoryID int,
	@text nvarchar(MAX)
)as
if(@CategoryID > 0)
Begin
Select P.ProductID, P.ProductName, C.CategoryName, P.QuantityPerUnit, P.UnitPrice, P.UnitsInStock From Products P join Categories C
on P.CategoryID = C.CategoryID 
Where P.CategoryID = @CategoryID And P.ProductName Like '%' + @text + '%'
End
GO
/****** Object:  StoredProcedure [dbo].[pr_ProductInCategory_List]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[pr_ProductInCategory_List]
(
	@CategoryID int 
)as
if(@CategoryID > 0)
Begin
Select P.ProductID, P.ProductName, C.CategoryName, P.QuantityPerUnit, P.UnitPrice, P.UnitsInStock From Products P join Categories C
on P.CategoryID = C.CategoryID 
Where P.CategoryID = @CategoryID
End
GO
/****** Object:  StoredProcedure [dbo].[pr_Products_Delete]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[pr_Products_Delete]
(
	@ProductID int
)as
IF @ProductID is not null
Begin
Delete From Products
Where ProductID = @ProductID
End

--------------------------------------

GO
/****** Object:  StoredProcedure [dbo].[pr_Products_Insert]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[pr_Products_Insert]
(
	@ProductID int,
	@ProductName nvarchar(40),
	@CategoryID int,
	@QuantityPerUnit nvarchar(20),
	@UnitPrice money,
	@UnitsInStock int,
	@PrimaryColumn nvarchar
)as
Begin
Insert Into Products
(ProductName, CategoryID, QuantityPerUnit, UnitPrice, UnitsInStock)
Values
(@ProductName, @CategoryID, @QuantityPerUnit, @UnitPrice, @UnitsInStock)
End

GO
/****** Object:  StoredProcedure [dbo].[pr_Products_List]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[pr_Products_List]
as
Select * From Products

--------------------------------

GO
/****** Object:  StoredProcedure [dbo].[pr_Products_Update]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[pr_Products_Update]
(
	@ProductID int,
	@ProductName nvarchar(40),
	@CategoryID int,
	@QuantityPerUnit nvarchar(20),
	@UnitPrice money,
	@UnitsInStock int,
	@PrimaryColumn nvarchar
)as
Begin
Update Products
Set ProductName = @ProductName,
	CategoryID = @CategoryID,
	QuantityPerUnit = @QuantityPerUnit,
	UnitPrice = @UnitPrice,
	UnitsInStock = @UnitsInStock
Where ProductID = @ProductID
End
GO
/****** Object:  StoredProcedure [dbo].[pr_ProductsOfCategory_Delete]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[pr_ProductsOfCategory_Delete]
(
	@CategoryID int
)as
IF exists (Select * From Products Where CategoryID = @categoryID)
Begin
Delete From Products
Where CategoryID = @CategoryID
End
GO
/****** Object:  StoredProcedure [dbo].[pr_ProductStockDecrease]    Script Date: 15.12.2017 17:28:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[pr_ProductStockDecrease]
(
	@ProductID int,
	@ProductQuantity int
)as
Begin
Update Products
Set UnitsInStock = UnitsInStock - @ProductQuantity
Where ProductID = @ProductID
End
GO
USE [master]
GO
